# Ansible
*.retry
*.log

# Secrets and Credentials
inventory/group_vars/all.yaml

# SSH Keys
*.pem
*.key
id_rsa*
id_ed25519*

# Python
__pycache__/
*.pyc
*.pyo
.Python
env/
venv/
.env/
.venv/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
._*

# Editor
.vscode/
.idea/
*.sublime-*homelab_ansible*


homelab_ansible*
